body {
  background-image: url("background.jpg");
  text-align: center;
  background-size: cover;
  background-position: -10px 0;
}
h1 {
  color: navy;
}
form {
  display: inline-block;
  text-align: left;
}
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 4px;
}
input[type=submit] {
  width: 100%;
  background-color: navy;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}
input[type=submit]:hover {
  background-color: #45a049;
}
